@import "tailwindcss";
@theme{
     --color-primary:#00B207;
     --color-badgeone:#EA4B48;
     --color-badgetwo:#2388FF;
     --color-gry:#F2F2F2;
     --text-hsize:32px;
     --font-pop: "Poppins", sans-serif;
}
@font-face {
     font-family: poppins;
     src: url(../src/assets/images/font/Poppins/Poppins-Regular.ttf) format('ttf');
}
.sidebar{
     padding: 10px;
     border-radius: 6px;
   }
   .sidebar:hover{
     background-color: #f3f4f6;
   }
   .fromInput{
     @apply border border-gray-300 p-2 w-full rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 mt-3 
   }


.swiper-pagination {
  position: absolute;
  bottom: 20px ;
  left: 50% ;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.slider3 .swiper-pagination {
  position: absolute;
  top: 50%;
  right: 10px;
  left: auto;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
}

.slider2 .swiper-scrollbar {
  transition-duration: 400ms;
  background: rgba(255, 255, 255, 0.5);
}
.slider2 .swiper-scrollbar-drag {
  background: #ffffff;
  width: 100%;
}

